<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QuestionList</key>
	<array>
		<dict>
			<key>Answer</key>
			<integer>1</integer>
			<key>AnswerText</key>
			<array>
				<string>An Orange</string>
				<string>An apple</string>
				<string>A lemon</string>
			</array>
			<key>QuestionText</key>
			<string>Which of these fruits are red?</string>
		</dict>
		<dict>
			<key>Answer</key>
			<integer>2</integer>
			<key>AnswerText</key>
			<array>
				<string>A star</string>
				<string>A square</string>
				<string>A circle</string>
			</array>
			<key>QuestionText</key>
			<string>Which of these shapes are round?</string>
		</dict>
		<dict>
			<key>Answer</key>
			<integer>1</integer>
			<key>AnswerText</key>
			<array>
				<string>True</string>
				<string>False</string>
			</array>
			<key>QuestionText</key>
			<string>This is the fourth question.</string>
		</dict>
	</array>
</dict>
</plist>
