<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Chocolate Cake</string>
		<key>description</key>
		<string>Chocolate cake with chocolate frosting</string>
		<key>prepTime</key>
		<string>1 hour</string>
		<key>imageName</key>
		<string>chocolate_cake.png</string>
		<key>instructions</key>
		<string>Mix the ingredients, bake and voilà!</string>
		<key>ingredients</key>
		<array>
			<dict>
				<key>name</key>
				<string>Chocolate</string>
				<key>amount</key>
				<string>1 cup</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Flour</string>
				<key>amount</key>
				<string>1 cup</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Eggs</string>
				<key>amount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Sugar</string>
				<key>amount</key>
				<string>1 cup</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Salt</string>
				<key>amount</key>
				<string>pinch</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Cherry Cobbler</string>
		<key>description</key>
		<string>Cherry cobbler with homemade whipped cream</string>
		<key>prepTime</key>
		<string>1.5 hours</string>
		<key>imageName</key>
		<string>cobbler.png</string>
		<key>instructions</key>
		<string>Mix the ingredients, bake and voilà!</string>
		<key>ingredients</key>
		<array>
			<dict>
				<key>name</key>
				<string>Cherries (fresh)</string>
				<key>amount</key>
				<string>3 cups</string>
			</dict>
			<dict>
				<key>name</key>
				<string>White Sugar</string>
				<key>amount</key>
				<string>1/2 Cup</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Brown Sugar</string>
				<key>amount</key>
				<string>1/2 Cup</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Cinnamon</string>
				<key>amount</key>
				<string>1/8 Teaspoon</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Nutmeg</string>
				<key>amount</key>
				<string>1/8 Teaspoon</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Lemon Juice</string>
				<key>amount</key>
				<string>1 Teaspoon</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Flour</string>
				<key>amount</key>
				<string>1 Cup</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Baking Powder</string>
				<key>amount</key>
				<string>1 Teaspoon</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Salt</string>
				<key>amount</key>
				<string>1/8 Teaspoon</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Butter</string>
				<key>amount</key>
				<string>6 Tablespoons</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
