<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>Yuolumne Sky</string>
	<key>1</key>
	<string>Meadow</string>
	<key>2</key>
	<string>Lake Don Pedro Sunset</string>
	<key>3</key>
	<string>Grass Cutting</string>
	<key>4</key>
	<string>Cows</string>
	<key>5</key>
	<string>Lake Don Pedro at Noon</string>
	<key>6</key>
	<string>Water Value House</string>
	<key>7</key>
	<string>All Terrain Cycle</string>
	<key>8</key>
	<string>Corral</string>
	<key>9</key>
	<string>Camping Spot</string>
	<key>10</key>
	<string>Golden Grass</string>
	<key>11</key>
	<string>Drying Grass</string>
	<key>12</key>
	<string>Tuolumne Sunset1</string>
	<key>13</key>
	<string>Oak Trees</string>
	<key>14</key>
	<string>Mountains</string>
	<key>15</key>
	<string>Rock Wall</string>
	<key>16</key>
	<string>Tuolumne Sunset2</string>
	<key>17</key>
	<string>Lake Don Pedro at Dusk</string>
	<key>18</key>
	<string>Tuolumne Sunset3</string>
	<key>19</key>
	<string>Jackass Ridge</string>
	<key>20</key>
	<string>Adam and His ATC</string>
	<key>21</key>
	<string>Lake Don Pedro Drought</string>
	<key>22</key>
	<string>Adam and His Cow</string>
	<key>23</key>
	<string>White Oak</string>
	<key>24</key>
	<string>Canyon</string>
	<key>25</key>
	<string>Meadow</string>
	<key>26</key>
	<string>Winter Meadow</string>
	<key>27</key>
	<string>Tuolumne Sunset4</string>
	<key>28</key>
	<string>Catch Basin1</string>
	<key>29</key>
	<string>Catch Basin2</string>
	<key>30</key>
	<string>Catch Basin2</string>
	<key>31</key>
	<string>California Golden Poppies</string>
</dict>
</plist>
