<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keychain-access-groups</key>
	<array>
		<string>YOUR_APP_ID_HERE.com.yourcompany.GenericKeychain</string>
		<string>YOUR_APP_ID_HERE.com.yourcompany.GenericKeychainSuite</string>
	</array>
</dict>
</plist>
