<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Never</string>
		<key>description</key>
		<string>Never</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Daily</string>
		<key>description</key>
		<string>Every Day</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Weekly</string>
		<key>description</key>
		<string>Every Week</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Biweekly</string>
		<key>description</key>
		<string>Every 2 Weeks</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Monthly</string>
		<key>description</key>
		<string>Every Month</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Yearly</string>
		<key>description</key>
		<string>Every Year</string>
	</dict>
</array>
</plist>
