<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Deluxe Dog Collar</string>
		<key>description</key>
		<string>Your pooch will go nuts for this deluxe doggy collar</string>
		<key>price</key>
		<string>44.99</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mini Dog Collar</string>
		<key>description</key>
		<string>For the smaller dogs who appreciate the little things in life</string>
		<key>price</key>
		<string>16.99</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Classic Collar</string>
		<key>description</key>
		<string>The original, and still the best.</string>
		<key>price</key>
		<string>24.99</string>
	</dict>
</array>
</plist>
