<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CommandUUID</key>
	<string>0004_appfeedback.plist</string>
	<key>ManagedApplicationFeedback</key>
	<array>
		<dict>
			<key>Feedback</key>
			<dict>
				<key>failureCount</key>
				<integer>4</integer>
				<key>successCount</key>
				<integer>2</integer>
			</dict>
			<key>Identifier</key>
			<string>com.example.apple-samplecode.ManagedAppConfig</string>
		</dict>
	</array>
	<key>Status</key>
	<string>Acknowledged</string>
	<key>UDID</key>
	<string>UUID-of-device-response-sent-from</string>
</dict>
</plist>
