<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>climbedDate</key>
		<date>1950-06-03T00:00:00Z</date>
		<key>height</key>
		<integer>8091</integer>
		<key>name</key>
		<string>山 7</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1953-05-29T06:00:00Z</date>
		<key>height</key>
		<integer>8848</integer>
		<key>name</key>
		<string>山 1</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1913-06-07T06:00:00Z</date>
		<key>height</key>
		<integer>6138</integer>
		<key>name</key>
		<string>山 3</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1854-08-14T06:00:00Z</date>
		<key>height</key>
		<integer>2994</integer>
		<key>name</key>
		<string>山 2</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1979-07-24T06:00:00Z</date>
		<key>height</key>
		<integer>2342</integer>
		<key>name</key>
		<string>山 4</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1873-08-15T06:00:00Z</date>
		<key>height</key>
		<integer>4421</integer>
		<key>name</key>
		<string>山 5</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1954-07-31T00:00:00Z</date>
		<key>height</key>
		<integer>8611</integer>
		<key>name</key>
		<string>山 6</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1642-01-01T00:00:00Z</date>
		<key>height</key>
		<integer>1874</integer>
		<key>name</key>
		<string>舊山</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>2751</integer>
		<key>name</key>
		<string>新山</string>
	</dict>
</array>
</plist>
