<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Movie Playback</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Aspect Fit</string>
				<string>Aspect Fill</string>
				<string>Fill</string>
			</array>
			<key>Title</key>
			<string>Scaling</string>
			<key>Key</key>
			<string>scalingMode</string>
			<key>DefaultValue</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Embedded</string>
				<string>Fullscreen</string>
			</array>
			<key>Title</key>
			<string>Control Style</string>
			<key>Key</key>
			<string>controlStyle</string>
			<key>DefaultValue</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Key</key>
			<string>backgroundColor</string>
			<key>Title</key>
			<string>Background Color</string>
			<key>Titles</key>
			<array>
				<string>Black</string>
				<string>Dark Gray</string>
				<string>Light Gray</string>
				<string>White</string>
				<string>Gray</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Cyan</string>
				<string>Yellow</string>
				<string>Magenta</string>
				<string>Orange</string>
				<string>Purple</string>
				<string>Brown</string>
				<string>Clear</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>useMovieBackgroundImage</string>
			<key>Title</key>
			<string>Background Image</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>One</string>
			</array>
			<key>Title</key>
			<string>Repeat</string>
			<key>Key</key>
			<string>repeatMode</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Title</key>
	<string>MoviePlayer</string>
</dict>
</plist>
