<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Jacob</string>
	<key>conversations</key>
	<array>
		<dict>
			<key>name</key>
			<string>Bruce</string>
			<key>photos</key>
			<array>
				<dict>
					<key>imageName</key>
					<string>b01</string>
					<key>comment</key>
					<string>A nice view of the lake</string>
					<key>rating</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Peter</string>
			<key>photos</key>
			<array>
				<dict>
					<key>imageName</key>
					<string>p01</string>
					<key>comment</key>
					<string>What a cool bird!</string>
					<key>rating</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Kurt</string>
			<key>photos</key>
			<array>
				<dict>
					<key>imageName</key>
					<string>j01</string>
					<key>comment</key>
					<string>Some rushing water</string>
					<key>rating</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>imageName</key>
					<string>j02</string>
					<key>comment</key>
					<string>A tall waterfall</string>
					<key>rating</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>imageName</key>
					<string>j03</string>
					<key>comment</key>
					<string>A cool rainbow</string>
					<key>rating</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Dima</string>
			<key>photos</key>
			<array>
				<dict>
					<key>imageName</key>
					<string>d01</string>
					<key>comment</key>
					<string>Gorgeous sunset</string>
					<key>rating</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>imageName</key>
					<string>d02</string>
					<key>comment</key>
					<string>A view of the cliff</string>
					<key>rating</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Olivier</string>
			<key>photos</key>
			<array>
				<dict>
					<key>imageName</key>
					<string>l01</string>
					<key>comment</key>
					<string>Snowcapped mountains</string>
					<key>rating</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>imageName</key>
					<string>l02</string>
					<key>comment</key>
					<string>Mountains in the distance</string>
					<key>rating</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>lastPhoto</key>
	<dict>
		<key>imageName</key>
		<string>z01</string>
		<key>comment</key>
		<string>A nice cliff!</string>
		<key>rating</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
