<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Original</key>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget purus nisi. Phasellus sed dolor vitae dolor semper adipiscing. Vivamus eu velit nunc, nec vulputate magna. Vivamus egestas ante ut felis tempus in sollicitudin nulla ultricies. Nullam hendrerit semper diam eu lacinia. Fusce ac augue arcu. Phasellus ac enim magna, et luctus dui. Aenean blandit, felis eget volutpat tempor, libero dolor tristique lectus, sit amet pellentesque est velit eget ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis posuere ullamcorper mauris, sodales convallis orci fermentum non.

Maecenas eget varius enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut adipiscing condimentum mi, sed pulvinar ligula cursus quis. Morbi venenatis nisl vel mauris viverra posuere. Cras tempor accumsan risus nec fermentum. Nulla quis diam nec libero sodales blandit. Pellentesque vehicula metus ac libero commodo sed tincidunt est congue. Donec pulvinar tincidunt justo ut blandit. Fusce aliquet faucibus placerat. Nunc vitae lacus elit, condimentum pellentesque neque. Vivamus leo mauris, elementum nec lacinia id, ullamcorper quis orci. In in lacus nulla, sed molestie neque. Nam vitae risus sit amet ipsum dictum posuere.

Cras ullamcorper luctus euismod. Duis ullamcorper purus sed libero egestas viverra. Morbi felis magna, auctor et ultricies id, accumsan sit amet neque. Nulla molestie luctus dapibus. Etiam eget volutpat risus. Vivamus lacinia enim sit amet felis euismod adipiscing. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce et felis fringilla risus volutpat sollicitudin eu sit amet diam. Morbi mi odio, tincidunt sit amet malesuada nec, vestibulum ac enim. Vestibulum vel lectus quis felis auctor convallis non a mi. Quisque sodales posuere purus viverra mollis. Aliquam quis suscipit quam. Suspendisse vestibulum, dolor ac blandit imperdiet, urna mi blandit sem, malesuada placerat dui mauris in metus. Morbi malesuada rhoncus sapien sit amet fermentum. Aenean risus diam, egestas nec luctus non, viverra venenatis lectus. In nec arcu eu orci molestie mollis id sit amet dolor.

Donec id arcu ac nisi consectetur tincidunt non et est. Nulla quis arcu vel erat pretium ornare quis id enim. Donec sed feugiat ipsum. Vivamus magna purus, accumsan vel blandit id, dapibus eget risus. Nulla lorem lectus, interdum non vestibulum vitae, cursus a arcu. In sed massa et felis pretium ultrices a imperdiet metus. Phasellus vestibulum scelerisque tempus. Phasellus pellentesque pellentesque orci.

Proin sollicitudin sagittis arcu, ut commodo lectus rutrum ac. Nulla at est et ante molestie lacinia. Donec in tortor ut est tincidunt dapibus. Vestibulum tincidunt, lorem nec egestas scelerisque, lacus augue pharetra elit, vitae laoreet nisl nisl ac risus. Nullam a vestibulum sem. Nam quis facilisis eros. Phasellus accumsan dui vitae lectus convallis ac ultricies justo auctor. Aliquam hendrerit augue quis lacus blandit ullamcorper. Suspendisse vitae erat placerat sapien consectetur luctus. Nullam et mi dui. Phasellus eleifend volutpat turpis, a sagittis orci rutrum ac. Praesent volutpat iaculis ultricies. Sed mattis lacinia fermentum. Donec orci elit, egestas et pharetra vel, varius cursus justo. Ut ullamcorper justo nec nisl imperdiet mollis. Suspendisse tincidunt justo id velit egestas tempor.

</string>
	<key>Meaty</key>
	<string>Boudin meatloaf beef ribs, sausage salami biltong tail flank brisket pancetta pork chop ham hamburger venison kielbasa. Salami biltong ground round pork loin fatback beef ribs. Bresaola biltong beef jowl venison. Beef ribs boudin bacon filet mignon andouille meatloaf. Meatloaf sirloin pastrami pork belly, ribeye pig strip steak biltong pork loin turkey drumstick short ribs venison. Andouille pork loin filet mignon, shank ham hock meatball flank pig prosciutto. Tongue ribeye corned beef tri-tip, andouille kielbasa spare ribs shank.

Ground round bacon fatback, corned beef salami short loin rump shank meatloaf short ribs sausage pork belly capicola. Swine bacon t-bone ham hock. Hamburger tri-tip chicken shank, tail shankle pork belly kielbasa frankfurter ham fatback tongue chuck ribeye sirloin. Turkey shank filet mignon, swine sausage ball tip meatball. Hamburger shoulder shank pastrami, turducken frankfurter ball tip pork chop tongue filet mignon pancetta biltong bacon. Tongue pig fatback, short ribs pork chuck ribeye sirloin meatball tail. Rump brisket shoulder, andouille drumstick pastrami kielbasa turducken pancetta meatball chuck tail prosciutto pork.

Ham bacon meatloaf, beef venison spare ribs cow ball tip frankfurter drumstick ground round ribeye jowl. Pork loin pig rump, hamburger cow sausage swine beef ribs frankfurter corned beef filet mignon short loin salami. Leberkäse salami capicola, spare ribs venison ball tip turkey. Shankle tongue boudin tail, bresaola meatball chicken chuck ham hock frankfurter ball tip filet mignon jowl jerky. Filet mignon prosciutto bresaola chuck, leberkäse shankle sausage ground round drumstick tail pork belly. Leberkäse tongue filet mignon ham capicola. Tongue short ribs turducken, beef ribs ham hock turkey tail sausage venison.

Short ribs shoulder pancetta ribeye tenderloin. Beef ribs corned beef shank, brisket biltong bacon jowl short ribs shankle tongue frankfurter pastrami meatball. Short loin sausage leberkäse brisket frankfurter pork loin pork chop corned beef, sirloin cow rump pancetta bresaola tongue prosciutto. Flank kielbasa pastrami meatloaf. T-bone tri-tip meatloaf, ham hock rump ball tip pork loin. Short ribs kielbasa t-bone, filet mignon jerky pork chop salami pork loin cow short loin pig turducken strip steak. Shoulder hamburger bacon chuck meatball, rump ham hock pork chop biltong ground round andouille ball tip short loin tail.

Short loin spare ribs filet mignon, jowl bresaola ball tip rump beef ribs tri-tip biltong strip steak cow ham hock. Tenderloin sausage pork chop ham hock, salami pancetta strip steak jowl brisket tail boudin filet mignon pork loin meatloaf tongue. Corned beef swine pork loin strip steak, spare ribs pastrami salami. Flank meatloaf capicola bresaola shankle. Shankle boudin bresaola, bacon turducken salami sausage tenderloin tongue turkey pork chop jerky. Prosciutto andouille ground round turducken corned beef. Rump t-bone pork belly, turkey tenderloin sirloin spare ribs biltong beef pancetta turducken jerky kielbasa.

</string>
	<key>Vegan</key>
	<string>Veggies sunt bona vobis, proinde vos postulo esse magis gram sweet pepper fava bean collard greens black-eyed pea endive cauliflower green bean salsify jícama silver beet bell pepper amaranth courgette rutabaga chickpea.

Burdock radish chickpea komatsuna garlic dulse garbanzo zucchini pumpkin watercress spinach caulie asparagus wattle seed mustard sorrel horseradish. Lettuce welsh onion parsley courgette silver beet desert raisin melon beet greens quandong. Kohlrabi horseradish lotus root cauliflower rock melon seakale fava bean aubergine beet greens.

Corn bush tomato pumpkin corn amaranth bok choy garlic collard greens water spinach peanut lotus root quandong prairie turnip. Broccoli rabe garlic spinach cucumber garlic bunya nuts chicory. Dandelion caulie winter purslane lotus root melon lettuce gram celtuce rutabaga. Parsnip azuki bean coriander sweet pepper melon artichoke groundnut nori broccoli rabe. Cabbage salad amaranth parsnip corn summer purslane collard greens beet greens chickpea dandelion carrot soko spring onion.

Summer purslane water chestnut amaranth yarrow squash radish wattle seed pea gumbo. Azuki bean nori avocado shallot salsify rutabaga lettuce bamboo shoot beetroot quandong rock melon brussels sprout horseradish tomato. Yarrow radicchio courgette kakadu plum nori bell pepper aubergine asparagus fennel bunya nuts tigernut chickpea lotus root pea sprouts horseradish.

Welsh onion peanut zucchini dandelion celery radicchio tatsoi cauliflower wakame broccoli rabe ricebean onion chickweed chickpea collard greens. Endive yarrow catsear courgette sierra leone bologi napa cabbage tomatillo bunya nuts asparagus okra quandong taro seakale. Dandelion chicory asparagus melon pea seakale jícama chickweed kale artichoke sea lettuce bell pepper sweet pepper eggplant summer purslane salad.

Catsear bitterleaf ricebean water spinach water chestnut burdock rutabaga earthnut pea cucumber lentil seakale summer purslane salad dulse. Bell pepper zucchini wattle seed melon maize sweet pepper. Tatsoi black-eyed pea komatsuna radicchio watercress prairie turnip lotus root radish tomato garbanzo grape gumbo cress daikon. Avocado okra lotus root potato welsh onion tigernut soko kohlrabi catsear avocado salad cress cauliflower rock melon carrot spring onion ricebean. Rutabaga soybean sea lettuce winter purslane tigernut eggplant.

Daikon winter purslane bamboo shoot kakadu plum sweet pepper courgette dandelion burdock. Potato parsley celery nori turnip greens onion corn rutabaga salsify bok choy water chestnut chard dandelion artichoke. Arugula winter purslane leek soko tomatillo epazote garbanzo asparagus okra lettuce avocado artichoke.

Cress turnip greens cress watercress coriander sierra leone bologi garlic. Fava bean peanut artichoke chicory parsley turnip sea lettuce bamboo shoot chickweed celtuce horseradish broccoli rabe watercress. Sierra leone bologi corn celery ricebean beetroot kohlrabi water spinach pea sprouts earthnut pea chickweed fava bean. Endive prairie turnip cabbage taro tomato scallion. Winter purslane wakame collard greens watercress komatsuna sierra leone bologi.</string>
</dict>
</plist>
