<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Golden Gate Bridge</string>
		<key>latitude</key>
		<real>37.81</real>
		<key>longitude</key>
		<real>-122.47745</real>
		<key>address</key>
		<string>Golden Gate Bridge, San Francisco, CA 94129</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Tea Garden</string>
		<key>latitude</key>
		<real>37.77</real>
		<key>longitude</key>
		<real>-122.4701</real>
		<key>address</key>
		<string>75 Hagiwara Tea Garden Dr, San Francisco, CA 94118</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Grace Cathedral</string>
		<key>latitude</key>
		<real>37.786996</real>
		<key>longitude</key>
		<real>-122.419281</real>
		<key>address</key>
		<string>1100 California St, San Francisco, CA 94108</string>
	</dict>
</array>
</plist>
