<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Logging</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Log to File</string>
			<key>Key</key>
			<string>qlogLoggingToFile</string>
			<key>DefaultValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Log to stderr</string>
			<key>Key</key>
			<string>qlogLoggingToStdErr</string>
			<key>DefaultValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Log Network Data</string>
			<key>Key</key>
			<string>qlogOption0</string>
			<key>DefaultValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Log Sync Details</string>
			<key>Key</key>
			<string>qlogOption1</string>
			<key>DefaultValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Log XML Parsing</string>
			<key>Key</key>
			<string>qlogOption2</string>
			<key>DefaultValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Log Network Details</string>
			<key>Key</key>
			<string>qlogOption3</string>
			<key>DefaultValue</key>
			<string>NO</string>
		</dict>
	</array>
</dict>
</plist>
