<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Joe</string>
			<key>Key</key>
			<string>firstNameKey</string>
			<key>Title</key>
			<string>First</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Smith</string>
			<key>Key</key>
			<string>lastNameKey</string>
			<key>Title</key>
			<string>Last</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Colors</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>nameColorKey</string>
			<key>Title</key>
			<string>TextColor</string>
			<key>Titles</key>
			<array>
				<string>Blue</string>
				<string>Red</string>
				<string>Green</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
