<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iOS_Calc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1701696713CE99E300F5F148</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1719A19413D67237004919FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1719A1A113D67237004919FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1719A20F13D675D4004919FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1719A21C13D675D4004919FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1719A23813D6763E004919FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1719A24513D6763F004919FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1785894213D6554F00B74C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17AA84020F99894F00167681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17AA844D0F99902200167681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17AA84650F9990FC00167681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B57A9E13D900FB0096B889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B57AB613D901CE0096B889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
