<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<array>
	<dict>
		<key>nameKey</key>
		<string>Number One</string>
		<key>imageKey</key>
		<string>large_one.png</string>
        <key>translationsKey</key>
		<string>one, uno, 一个, én, en, een, un, eins, ένα, אחת, один</string>
    </dict>
    <dict>
		<key>nameKey</key>
		<string>Number Two</string>
		<key>imageKey</key>
		<string>large_two.png</string>
        <key>translationsKey</key>
		<string>two, dos, 二, to, två, twee, deux, zwei, δύο, שתיים, два</string>
    </dict>
    <dict>
		<key>nameKey</key>
		<string>Number Three</string>
		<key>imageKey</key>
		<string>large_three.png</string>
        <key>translationsKey</key>
		<string>three, tres, 三, tre, tre, drie, trois, drei, τρία, שלוש, три</string>
    </dict>
    <dict>
		<key>nameKey</key>
		<string>Number Four</string>
		<key>imageKey</key>
		<string>large_four.png</string>
        <key>translationsKey</key>
		<string>four, cuatro, 四, fire, fyra, vier, quatre, vier, τέσσερα, ארבע, четыре</string>
    </dict>
    <dict>
		<key>nameKey</key>
		<string>Number Five</string>
		<key>imageKey</key>
		<string>large_five.png</string>
        <key>translationsKey</key>
		<string>five, cinco, 五, fem, fem, vijf, cinq, fünf, πέντε, חמש, пять</string>
    </dict>
    <dict>
		<key>nameKey</key>
		<string>Number Six</string>
		<key>imageKey</key>
		<string>large_six.png</string>
        <key>translationsKey</key>
		<string>six, seis, 六, seks, sex, zes, six, sechs, έξι, שש, шесть</string>
    </dict>
</array>		
</plist>
