<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<array>
	<dict>
		<key>nameKey</key>
		<string>Number One</string>
		<key>imageKey</key>
		<string>small_one.png</string>
    </dict>
    <dict>
		<key>nameKey</key>
		<string>Number Two</string>
		<key>imageKey</key>
		<string>small_two.png</string>
    </dict>
    <dict>
		<key>nameKey</key>
		<string>Number Three</string>
		<key>imageKey</key>
		<string>small_three.png</string>
    </dict>
    <dict>
		<key>nameKey</key>
		<string>Number Four</string>
		<key>imageKey</key>
		<string>small_four.png</string>
     </dict>
    <dict>
		<key>nameKey</key>
		<string>Number Five</string>
		<key>imageKey</key>
		<string>small_five.png</string>
    </dict>
    <dict>
		<key>nameKey</key>
		<string>Number Six</string>
		<key>imageKey</key>
		<string>small_six.png</string>
    </dict>
</array>		
</plist>
