<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NBody_Globals</key>
	<dict>
		<key>NBody_Channels</key>
		<integer>4</integer>
		<key>NBody_Particles</key>
		<integer>8096</integer>
		<key>NBody_Tex_Res</key>
		<integer>64</integer>
	</dict>
	<key>NBody_Parameters</key>
	<array>
		<dict>
			<key>NBody_Cluster_Scale</key>
			<real>1.54</real>
			<key>NBody_Damping</key>
			<integer>1</integer>
			<key>NBody_PointSize</key>
			<real>15</real>
			<key>NBody_Softening</key>
			<real>0.1</real>
			<key>NBody_Timestep</key>
			<real>0.016</real>
			<key>NBody_Velocity_Scale</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>NBody_Cluster_Scale</key>
			<real>0.68</real>
			<key>NBody_Damping</key>
			<integer>1</integer>
			<key>NBody_PointSize</key>
			<real>15</real>
			<key>NBody_Softening</key>
			<real>0.1</real>
			<key>NBody_Timestep</key>
			<real>0.016</real>
			<key>NBody_Velocity_Scale</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>NBody_Cluster_Scale</key>
			<real>0.16</real>
			<key>NBody_Damping</key>
			<integer>1</integer>
			<key>NBody_PointSize</key>
			<real>15</real>
			<key>NBody_Softening</key>
			<real>1</real>
			<key>NBody_Timestep</key>
			<real>0.0005999999999999999</real>
			<key>NBody_Velocity_Scale</key>
			<real>1000</real>
		</dict>
		<dict>
			<key>NBody_Cluster_Scale</key>
			<real>0.32</real>
			<key>NBody_Damping</key>
			<real>1</real>
			<key>NBody_PointSize</key>
			<real>15</real>
			<key>NBody_Softening</key>
			<real>1</real>
			<key>NBody_Timestep</key>
			<real>0.0019</real>
			<key>NBody_Velocity_Scale</key>
			<integer>276</integer>
		</dict>
		<dict>
			<key>NBody_Cluster_Scale</key>
			<real>0.32</real>
			<key>NBody_Damping</key>
			<integer>1</integer>
			<key>NBody_PointSize</key>
			<real>15</real>
			<key>NBody_Softening</key>
			<real>0.145</real>
			<key>NBody_Timestep</key>
			<real>0.0016</real>
			<key>NBody_Velocity_Scale</key>
			<integer>272</integer>
		</dict>
		<dict>
			<key>NBody_Cluster_Scale</key>
			<real>6.04</real>
			<key>NBody_Damping</key>
			<integer>1</integer>
			<key>NBody_PointSize</key>
			<real>15</real>
			<key>NBody_Softening</key>
			<real>1</real>
			<key>NBody_Timestep</key>
			<real>0.016</real>
			<key>NBody_Velocity_Scale</key>
			<real>0</real>
		</dict>
	</array>
</dict>
</plist>
