<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Display Picker</string>
		<key>description</key>
		<string>Show a list of contacts.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Create New Contact</string>
		<key>description</key>
		<string>Add a new Person.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Display and Edit Contact</string>
		<key>description</key>
		<string>Show and edit a person record.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Edit Unknown Contact</string>
		<key>description</key>
		<string>Add data to an existing person or use them to create a new contact.</string>
	</dict>
</array>
</plist>
