<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>APPS</string>
		<key>title</key>
		<string>iPhoto</string>
		<key>identifier</key>
		<string>497786065</string>
	</dict>
	<dict>
		<key>category</key>
		<string>AUDIO BOOKS</string>
		<key>title</key>
		<string>iWoz: How I Invented the Personal Computer and Had Fun Along the Way (Unabridged)</string>
		<key>identifier</key>
		<string>338499873</string>
	</dict>
	<dict>
		<key>category</key>
		<string>BOOKS</string>
		<key>title</key>
		<string>Using Swift with Cocoa and Objective-C</string>
		<key>identifier</key>
		<string>888894773</string>
	</dict>
	<dict>
		<key>category</key>
		<string>MOVIES</string>
		<key>title</key>
		<string>Diary of a Wimpy Kid</string>
		<key>identifier</key>
		<string>367207973</string>
	</dict>
	<dict>
		<key>category</key>
		<string>MUSIC</string>
		<key>title</key>
		<string>Ghost Stories by Coldplay</string>
		<key>identifier</key>
		<string>829909653</string>
	</dict>
	<dict>
		<key>category</key>
		<string>PODCASTS</string>
		<key>title</key>
		<string>iPhone Quick Tips</string>
		<key>identifier</key>
		<string>377269009</string>
	</dict>
	<dict>
		<key>category</key>
		<string>TV SHOWS</string>
		<key>title</key>
		<string>Sesame Street Classics, Vol. 1</string>
		<key>identifier</key>
		<string>442528144</string>
	</dict>
</array>
</plist>
