<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<real>3840</real>
		<key>name</key>
		<string>PeeringFrog</string>
		<key>width</key>
		<real>2560</real>
	</dict>
	<dict>
		<key>height</key>
		<real>2400</real>
		<key>name</key>
		<string>CuriousFrog</string>
		<key>width</key>
		<real>3600</real>
	</dict>
	<dict>
		<key>height</key>
		<real>3840</real>
		<key>name</key>
		<string>LeggyFrog</string>
		<key>width</key>
		<real>2560</real>
	</dict>
</array>
</plist>
