<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photo</key>
		<string>guy1</string>
		<key>age</key>
		<integer>32</integer>
		<key>hobbies</key>
		<string>Cooking, bubble tea with friends, travel</string>
		<key>elevatorPitch</key>
		<string>I will cook you a gourmet dinner in a log cabin I built you with my own hands.</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>guy2</string>
		<key>age</key>
		<integer>38</integer>
		<key>hobbies</key>
		<string>Sightseeing, drawing, architecture</string>
		<key>elevatorPitch</key>
		<string>Thrice divorced, thrice as experienced in love.</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>guy3</string>
		<key>age</key>
		<integer>23</integer>
		<key>hobbies</key>
		<string>Finding new ways to endanger myself</string>
		<key>elevatorPitch</key>
		<string>I&apos;m all about taking chances. Take a chance on me.</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>guy4</string>
		<key>age</key>
		<integer>26</integer>
		<key>hobbies</key>
		<string>Biking, surfing, rock climbing</string>
		<key>elevatorPitch</key>
		<string>Looking for an outdoorsy partner.  Belay certification a plus.</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>guy5</string>
		<key>age</key>
		<integer>24</integer>
		<key>hobbies</key>
		<string>FOOD!</string>
		<key>elevatorPitch</key>
		<string>If you have a high metabolism and a sweet tooth, join me on culinary adventures!</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>guy6</string>
		<key>age</key>
		<integer>28</integer>
		<key>hobbies</key>
		<string>Extreme sports, extreme foods, extreme anything</string>
		<key>elevatorPitch</key>
		<string>I&apos;m extremely interested in getting to know you.</string>
	</dict>
</array>
</plist>
