<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>playName</key>
		<string>Henry IV, Part I</string>
		<key>quotations</key>
		<array>
			<dict>
				<key>act</key>
				<integer>1</integer>
				<key>scene</key>
				<integer>2</integer>
				<key>character</key>
				<string>Prince Henry</string>
				<key>quotation</key>
				<string>Thou art so fat-witted, with drinking of old sack, and unbuttoning thee after supper, and sleeping upon benches after noon, that thou hast forgotten to demand that truly which thou wouldst truly know.</string>
			</dict>
			<dict>
				<key>act</key>
				<integer>1</integer>
				<key>scene</key>
				<integer>3</integer>
				<key>character</key>
				<string>Hotspur</string>
				<key>quotation</key>
				<string>By heaven, methinks, it were an easy leap,
To pluck bright honour from the pale-fac&apos;d moon,
Or dive into the bottom of the deep,
Where fathom-line could never touch the ground,
And pluck up drowned honour by the locks;
So he, that doth redeem her thence, might wear
Without corrival, all her dignities:
But out upon this half-fac&apos;d fellowship!</string>
			</dict>
			<dict>
				<key>act</key>
				<integer>2</integer>
				<key>scene</key>
				<integer>4</integer>
				<key>character</key>
				<string>Falstaff</string>
				<key>quotation</key>
				<string>I have peppered two of them: two, I am sure I have paid, two rogues in buckram suits. I tell thee what, Hal, if I tell thee a lie, spit in my face; call me horse. Thou knowest my old ward: here I lay, and thus I bore my point. Four rogues in buckram let drive at me…</string>
			</dict>
			<dict>
				<key>act</key>
				<integer>2</integer>
				<key>scene</key>
				<integer>4</integer>
				<key>character</key>
				<string>Falstaff</string>
				<key>quotation</key>
				<string>Give you a reason on compulsion! If reasons were as plenty as blackberries, I would give no man a reason upon compulsion, I.</string>
			</dict>
			<dict>
				<key>act</key>
				<integer>5</integer>
				<key>scene</key>
				<integer>1</integer>
				<key>character</key>
				<string>Falstaff</string>
				<key>quotation</key>
				<string>&apos;Tis not due yet: I would be loth to pay him before his day. What need I be so forward with him that calls not on me? Well, &apos;tis no matter; Honour pricks me on. Yea, but how if Honour prick me off when I come on? how then? Can Honour set to a leg? No. Or an arm? No. Or take away the grief of a wound? No. Honour hath no skill in surgery then? No. What is Honour? a word. What is that word, Honour? Air. A trim reckoning! — Who hath it? He that died o&apos; Wednesday. Doth he feel it? No. Doth he hear it? No. Is it sensible then? Yes, to the dead. But will it not live with the living? No. Why? Detraction will not suffer it: therefore I&apos;ll none of it. Honour is a mere &apos;scutcheon, and so ends my catechism.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>playName</key>
		<string>A Midsummer Night&apos;s Dream</string>
		<key>quotations</key>
		<array>
			<dict>
				<key>act</key>
				<integer>1</integer>
				<key>scene</key>
				<integer>1</integer>
				<key>character</key>
				<string>Hippolyta</string>
				<key>quotation</key>
				<string>Four days will quickly steep themselves in nights;
Four nights will quickly dream away the time;
And then the moon, like to a silver bow
New bent in heaven, shall behold the night
Of our solemnities.</string>
			</dict>
			<dict>
				<key>act</key>
				<integer>5</integer>
				<key>scene</key>
				<integer>2</integer>
				<key>character</key>
				<string>Puck</string>
				<key>quotation</key>
				<string>If we shadows have offended,
Think but this, and all is mended,
That you have but slumber&apos;d here
While these visions did appear.
And this weak and idle theme,
No more yielding, but a dream,
Gentles, do not reprehend;
If you pardon, we will mend.
And, as I am an honest Puck,
If we have unearnéd luck,
Now to &apos;scape the serpent&apos;s tongue,
We will make amends ere long:
Else the Puck a liar call.
So good night unto you all.
Give me your hands, if we be friends,
And Robin shall restore amends.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>playName</key>
		<string>Twelfth Night</string>
		<key>quotations</key>
		<array>
			<dict>
				<key>act</key>
				<integer>1</integer>
				<key>scene</key>
				<integer>1</integer>
				<key>character</key>
				<string>Orsino</string>
				<key>quotation</key>
				<string>If music be the food of love, play on;
Give me excess of it; that, surfeiting,
The appetite may sicken, and so die. —
That strain again; it had a dying fall:
O, it came oer my ear, like the sweet sound
That breathes upon a bank of violets,
Stealing, and giving odour! Enough! No more.
&apos;Tis not so sweet now as it was before.</string>
			</dict>
			<dict>
				<key>act</key>
				<integer>1</integer>
				<key>scene</key>
				<integer>5</integer>
				<key>character</key>
				<string>Feste</string>
				<key>quotation</key>
				<string>Two faults, madonna, that drink and good counsel will amend: for give the dry fool drink, then is the fool not dry; bid the dishonest man mend himself; if he mend, he is no longer dishonest; if he cannot, let the botcher mend him; any thing that&apos;s mended is but patched; virtue that transgresses is but patched with sin; and sin that amends is but patched with virtue.</string>
			</dict>
			<dict>
				<key>act</key>
				<integer>3</integer>
				<key>scene</key>
				<integer>4</integer>
				<key>character</key>
				<string>Fabian</string>
				<key>quotation</key>
				<string>If this were played upon a stage now, I could condemn it as an improbable fiction.</string>
			</dict>
			<dict>
				<key>act</key>
				<integer>5</integer>
				<key>scene</key>
				<integer>1</integer>
				<key>character</key>
				<string>Feste</string>
				<key>quotation</key>
				<string>A great while ago the world begun,
With hey, ho, the wind and the rain:
But that&apos;s all one, our play is done,
And we&apos;ll strive to please you every day.</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
